

body {
  width: 960px;
  height: 100%;
  padding: 0;
  margin: auto;
  background-color: #e2c076;
  font-family: monospace, Arial,'Open Sans', sans-serif;
  /* background-image: url(../images/xinzhi.png) no-rep; */
}

a {
  text-decoration: none;
  color: black;
}

.demo p:first-child {
  text-align: center;
  font-family: cursive;
  font-size: 150px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  color: #fff;
}

.demo ol:first-child {
  text-align: center;
  font-family: cursive;
  font-size: 150px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 5px;
  color: #fff;
}

.demo p:first-child span {
  cursor: pointer;
  text-shadow: 0px 0px 2px #686868,
    0px 1px 1px #ddd,
    0px 2px 1px #d6d6d6,
    0px 3px 1px #ccc,
    0px 4px 1px #c5c5c5,
    0px 5px 1px #c1c1c1,
    0px 6px 1px #bbb,
    0px 7px 1px #777,
    0px 8px 3px rgba(100, 100, 100, 0.4),
    0px 9px 5px rgba(100, 100, 100, 0.1),
    0px 10px 7px rgba(100, 100, 100, 0.15),
    0px 11px 9px rgba(100, 100, 100, 0.2),
    0px 12px 11px rgba(100, 100, 100, 0.25),
    0px 13px 15px rgba(100, 100, 100, 0.3);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.demo p:first-child span:hover {
  text-shadow: 0px 0px 2px #686868,
    0px 1px 1px #fff,
    0px 2px 1px #fff,
    0px 3px 1px #fff,
    0px 4px 1px #fff,
    0px 5px 1px #fff,
    0px 6px 1px #fff,
    0px 7px 1px #777,
    0px 8px 3px #fff,
    0px 9px 5px #fff,
    0px 10px 7px #fff,
    0px 11px 9px #fff,
    0px 12px 11px #fff,
    0px 13px 15px #fff;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.demo p:not(:first-child) {
  text-align: center;
  color: #666;
  font-family: cursive;
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
  letter-spacing: 1px;
  line-height: 2em;
  margin-top: -50px;
}

#head {
  margin: 0;
  padding: 0;
  width: 960px;
  height: 200px;

}


#wrapper {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 960px;
  border: solid 2px white;
  border-radius: 12px;
  box-shadow: white 1px 1px 1px 1px;

}

canvas {
  margin-left: 50px; 
}

.desc {
  float: left;
}

.desc h1 {
  padding-left: 40px;
  padding-top: 40px;
}

.desc h1:hover {
  color: white;
}

.desc ul {
  list-style: none;  
  line-height: 80px;
  font-size: 20px;
}

.desc ul li:hover {
  color: white;
}

.music {
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.clean {
  clear: both;
}


.foot {
  margin: 0;
  padding: 0;
  width: 960px;
  height: 800px;
  background-image: url(../images/love.jpg);
  border: solid 3px #e2c076;
  border-radius: 12px;

}

.foot_desc {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 22px;
  -webkit-transform: rotate(-7deg);
  margin-top: 180px;
  margin-left: 230px;
  margin-right: 280px;
}


.last ul {
  font-size: 20px;
  list-style: none;
  display: inline-block;
  text-align: center;
}

.last ul li {
  margin-top: 10px;
}

.last ul li:hover {
  color: white;
  background-color: gray;
  border: solid 1px white;
  border-radius: 5px;

}